In [3]:
# Each list reference needed to be a string added '' to fix.
stars = ['Sol', 'Proxima Centauri', 'Alpha Centauri A', 'Alpha Centauri B']

In [2]:
# List was not closed properly, corrected issue by switching the closing parentheses with a closing bracket
rollercoasters = ['Twisted Colossus', 'Twisted Timbers', 'Medusa', 'Maverick']

In [4]:
# Semi-colons were being used as seperators instead of commas and andorra was not enclosed as a string.
countries = ['Afghanistan', 'Albania', 'Algeria', 'Andorra']

Print out "Alpha Centauri A".

In [6]:
# Incorrect index was being used to retrieve "Alpha Centauri A". 
print(stars[2])

Alpha Centauri A

Print out "Maverick".

In [7]:
# The 1 was missing after the negative symbol.
print(rollercoasters[-1])

Maverick

Change "Twisted Timbers" to "Big Apple Coaster"

In [8]:
# Indexs two is not the same as 2 when retrieving a value from a list.
rollercoasters[2] = 'Big Apple Coaster'

Add "Antigua" to the end  of the list of countries:

In [16]:
# Used append function to add antigua to the end of the list. Printed to verify.
# Becareful when runing this cell each time you do Antigua will be added again, resulting in multiple entries.
# If you do accidently add more Antigua to the list, use del statements or .remove() function to correct.
countries.append("Antigua")
print(countries)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Antigua']

Insert 'Angola' just prior to 'Antiqua':

In [18]:

# Command to insert Angola was no correct. This has been corrected.
countries.insert(0, 'Angola')